.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.10);
}

.value {
  font-size: 1.5rem;
  font-weight: bold;
  color: #111827; /* text-gray-900 */
  margin: 0;
}

.label {
  font-size: 0.95rem;
  color: #4b5563; /* text-gray-600 */
  margin: 0;
}

.icon {
  padding: 12px;
  border-radius: 12px;
  font-size: 1.25rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Cores possíveis */
.blue {
  background-color: #2563eb; /* bg-blue-600 */
}

.sky {
  background-color: #0891b2; /* bg-blue-600 */
}

.green {
  background-color: #16a34a; /* bg-green-600 */
}

.yellow {
  background-color: #d97706; /* bg-yellow-600 */
}

.gray {
  background-color: #4b5563; /* bg-gray-600 */
}
